* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin: 0 auto;
  flex-grow: 1;
}

.hidden_title {
  display: none;
}

.content-width {
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* LOGO */

.logo {
  font-family: Montserrat, serif;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  color: #95e1d3;
  text-decoration: none;
}

/* MENU */
.navigation {
  padding-top: 35px;
  padding-bottom: 30px;
}

.nav-list {
  align-items: center;
}

.menu_item {
  list-style-type: none;
  margin-right: 55px;
  position: relative;
}

.navigation li:last-child {
  margin-right: 0px;
}

.menu_item a {
  width: 100%;
  height: 100%;
  font-family: Montserrat, serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #95e1d3;
  text-decoration: none;
  text-transform: uppercase;
}

.menu_item:hover > a {
  transition: color 200ms linear;
  color: #f38181;
}

.menu_item:hover > a::after {
  transition: background-color 200ms linear;
  content: "";
  margin-top: 10px;
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #f38181;
}

/* SAmazing services block */
/* TITLE OF BLOCKS */

.collection-title {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #333333;
  padding-bottom: 60px;
}

.collection-title > span {
  display: block;
  font-family: Montserrat, serif;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #333333;
}

.collection-title::after {
  margin-bottom: 43px;
  margin: 0 auto;
  display: block;
  margin-top: 32px;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

/* Service-Item-Blocks */
.service-blocks > section {
  max-width: 380px;
}

.service-item {
  display: flex;
  margin-bottom: 100px;
}

.alarm-icon::before {
  content: url(../img/alarm.png);
}
.graph-icon::before {
  content: url(../img/line_graph.png);
}
.computer_ok-icon::before {
  content: url(../img/computer_ok.png);
}
.book_2-icon::before {
  content: url(../img/book.png);
}
.home-icon::before {
  content: url(../img/home.png);
}
.focus-icon::before {
  content: url(../img/focus.png);
}

.service-item-text-block {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.service-item-text-block > p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.service-item-title {
  padding-bottom: 20px;
  font-family: Montserrat, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #333333;
}
/* OUR-TEAM-COLLECTION */

.team {
  padding-bottom: 43px;
}

.collection-description {
  margin: 0 auto;
  max-width: 940px;
  padding-bottom: 95px;
  text-align: center;
  font-family: "Roboto", serif;
  color: #999999;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

/* TEAM-ITEM-BLOCKS */

.team-blocks section {
  width: 380px;
}

.team-blocks figure {
  padding-bottom: 84px;
}

.team-item {
  display: flex;
  position: relative;
  background-color: #95e1d3;
  margin-bottom: 30px;
}

.crewman-photo {
  display: block;
}

.team-item:hover .crewman-photo {
  transition: transform 200ms linear;
  transform: translate(-10px, -10px);
}

.overlay-crewman-photo {
  position: relative;
}

.overlay-crewman-photo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(#f38181,#fce38a);
  opacity: 0.9;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.team-item:hover .overlay-crewman-photo::after {
  z-index: 0;
  transition: transform 200ms linear;
  transform: translate(-10px, -10px);
}

.card-icons-block {
  z-index: -1;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
}

.team-item:hover .card-icons-block {
  z-index: 1;
  transition: transform 200ms linear;
  transform: translate(-10px, -10px);
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f38181;
  background-color: #fce38a;
  width: 56px;
  height: 56px;
}

.icon-facebook::before {
  content: url(../img/facebook.png);
}
.icon-twitter::before {
  content: url(../img/twitter.png);
}
.icon-pinterest::before {
  content: url(../img/pinterest.png);
}
.icon-instagram::before {
  content: url(../img/instagram.png);
}

.card-icon:not(:last-child) {
  border-right: 1px solid rgba(243, 129, 129, 0.5);
}

.card-icon:hover {
  transition: background-color 200ms linear;
  background-color: #95e1d3;
}

/* FIGCAPTION */
.crewman-figcaption {
  text-align: center;
}

.crewman-name {
  font-family: Montserrat, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  text-transform: uppercase;
}

.crewman-post {
  font-family: "Roboto", serif;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

/* FOOTER */

footer {
  align-self: flex-end;
  align-content: center;
  margin: 0 auto;
  max-width: 1200px;
  height: 62px;
  border-top: 1px solid #e5e5e5;
}

.footer-text {
  font: 400 14px/62px Montserrat, serif;
  color: #333333;
}

.footer-text > a {
  text-decoration: none;
  color: #f38181;
}

.footer-form {
  display: flex;
  align-items: center;
}

.input-email {
  height: 40px;
  width: 230px;
  padding-left: 10px;
  border: 1px solid #e7e7e7;
}

.input-email::placeholder {
  font-family: "Roboto", serif;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #cccccc;
}

.footer-form-button {
  height: 40px;
  width: 150px;
  border: none;
  font: 700 14px/17px Montserrat, serif;
  color: #fff;
  text-transform: uppercase;
  background-color: #95e1d3;
}
