/* Universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* tag selector */
h2 {
    color: coral;
    font-size: 24;
    font-weight: 400;
}

/* Class selector */
.heading{
    color: blue;
    font-size: 32px;
    font-weight: 500;
}

/* ID selector */
#top-selector{
    color: red;
}

/* Descenant selector */
ul p{
    font-size: 24;
    font-weight: bold;
    color: coral;
}

/* Chield selector */
ul >li {
    list-style-type: circle;
}
