.footer {
  align-self: flex-end;
  align-content: center;
  height: 62px;
  border-top: 1px solid #e5e5e5;
}

.footer-text {
  font: 400 14px/62px $main-font-stack;
  color: $main-title-color;
}

.footer-text > a {
  color: $primary-accent-color;
}
