.list-title {
  text-align: center;
  font-family: $main-font-stack;
  @include font-settings(30px, 36px, 700, uppercase);
  color: $main-title-color;
  padding-bottom: 65px;

  &__about {
    @extend %container;
    @include font-settings(15px, 24px, 400);
    font-family: $secondary-font-stack;
    color: $main-text-color;
    text-align: center;
    max-width: 940px;
    padding-bottom: 85px;
  }

  &--padding {
    margin-top: -10px;
    padding-bottom: 43px;
  }

  &--art-span {
    display: block;
    font-family: 'Kaushan Script', cursive;
    @include font-settings(24px, 29px, 400, none);
    color: $main-title-color;
    padding-bottom: 14px;
  }

  &--art-line::after {
    @include pseudo($display: block);
    margin: 0 auto;
    background-color: $primary-accent-color;
    margin-bottom: 43px;
    margin-top: 32px;
    width: 60px;
    height: 3px;
  }
}
