* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
header {
  margin-left: 2%;
}

footer {
    text-align: center;
    margin-top: 50px;
}

h2 {
  color: rgb(255, 155, 41);
  margin-top: 50px;
}

h3 {
  color: green;
  text-transform: uppercase;
  padding-top: 25px;
}

.task1 {
  text-align: center;
}

.list_item {
  display: inline-block;
  margin-right: 50px;
  font-family: PlayfairDisplay, Italic, serif;
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.list_item > a {
  text-decoration: none;
  color: #626262;
}

.list_item a:hover {
  background-color: coral;
  color: cornsilk;
}

.nav_list :last-child {
  margin-right: 0;
}

.task2 {
  margin: auto;
  text-align: center;
  width: 470px;
}

.reference_task2 {
  text-align: left;
  color: #626262;
  font-family: Ubuntu, serif;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin: 32px 0 26px;
}

.title_task2 {
  text-align: left;
  margin-bottom: 37px;
  font-family: PlayfireDisplay, serif;
  color: #626262;
}
.text_task2 {
  text-align: left;
  color: #626262;
  font-family: PlayfireDisplay, serif;
}

.task3_container {
  margin: auto;
  width: 960px;
}

.task3_container .task3_article {
  display: inline-block;
  width: 420px;
}

.task3_container article:first-child {
  margin-right: 55px;
}

dl {
  /* display: block; */
  /* margin-block-start: 1em;
    margin-block-end: 1em; */
}

.specifity  span {
  display: inline-block;
  margin-top: 5px;
}

dd {
  height: 42px;
  width: 42px;
  line-height: 42px;
  margin: 0 10px 0 0;
  border-radius: 50%;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  display: inline-block;
}

dt {
    display: inline-block;
}

.type-a dd {
  background: #a92b68;
}

.type-b dd {
  background: #1e6fa8;
}

.type-c dd {
  background: #22817a;
}

.text_test4 {
    margin: 20px 0 20px;
}