%container {    
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

%link {
  text-decoration: none;
  color: $primary-white-color;
  text-transform: uppercase;
}

%list {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
