$main-font-stack: 'Montserrat', sans-serif;
$main-text-size: 14px;
$placeholder-color: #cccccc;

$secondary-font-stack: 'Roboto', sans-serif;

$main-text-color: #999999;
 
$main-title-color: #333333;

$primary-accent-color: #f38181;

$secondary-accent-color: #fce38a;

$primary-white-color: #ffffff;

// Not Used
$primary-dark-color: #2d3033;
$secondary-dark-color:#6c7279;

$secondary-bg-color: #3a3e64;


$border-color: #c6cacc;


$main-text-height: 21px;

